body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.answer-btn {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
}

.selected {
  background-color: rgb(255, 179, 0) !important;
}

.level-available {
  background-color: #72ff72;
  color: black;
}

.level-unavailable {
  background-color: #888;
  color: white;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#message-box {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}